body {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

div {
  overflow-x: hidden;
  overflow-y: hidden;
}

svg {
  transform: translate(-29%);
}

div.landmark {
  text-align: center;
}

img.photo {
  max-width: 70%;
  max-height: 70%;
}
